*{
    user-select: none;
}

body{
    background-color: rgb(43, 43, 43);
    color: white;
}

.upgradetick{
    background-color: black;
    border-color: red;
    color: white;
    text-align: center;
    padding: 15px;
}

.clickme{
    background-color: black;
    border-color: red;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 25px;
}

#gen1{
    background-color: black;
    border-color: red;
    color: white;
    text-align: center;
    padding: 15px;
}

#gen2{
    background-color: black;
    border-color: red;
    color: white;
    text-align: center;
    padding: 15px;
}

#gen3{
    background-color: black;
    border-color: red;
    color: white;
    text-align: center;
    padding: 15px;
}

#gen4{
    background-color: black;
    border-color: red;
    color: white;
    text-align: center;
    padding: 15px;
}

#clearfix{
    content: "";
    display: block;
    clear: both;
}