*{
    user-select: none;
}

body{
    background-color: rgb(43, 43, 43);
    color: white;
}

.upgradetick{
    background-color: black;
    border-color: red;
    color: white;
    text-align: center;
    padding: 15px;
}

.clickme{
    background-color: black;
    border-color: red;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 25px;
}

#gen1{
    background-color: black;
    border-color: red;
    color: white;
    text-align: center;
    padding: 15px;
    height: 75px;
    width: 250px;
}

#gen2{
    background-color: black;
    border-color: red;
    color: white;
    text-align: center;
    padding: 15px;
    height: 75px;
    width: 250px;
}

#gen3{
    background-color: black;
    border-color: red;
    color: white;
    text-align: center;
    padding: 15px;
    height: 75px;
    width: 250px;
}

#gen4{
    background-color: black;
    border-color: red;
    color: white;
    text-align: center;
    padding: 15px;
    height: 75px;
    width: 250px;
}

#clearfix{
    content: "";
    display: block;
    clear: both;
}

.table{
   float: left;
   
}

#until10{
    background-color: black;
    border-color: red;
    color: white;
    text-align: center;
    padding: 15px;
    height: 75px;
}

.table{
    border-spacing: 2px 10px;
}

#until102{
    background-color: black;
    border-color: red;
    color: white;
    text-align: center;
    padding: 15px;
    height: 75px;
}

#until103{
    background-color: black;
    border-color: red;
    color: white;
    text-align: center;
    padding: 15px;
    height: 75px;
}

#until104{
    background-color: black;
    border-color: red;
    color: white;
    text-align: center;
    padding: 15px;
    height: 75px;
}